<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<a class="navbar-brand">
    <img th:src="@{/images/mBoxLogo.jpg}" width="40" height="40"/>
</a>

<div class="navbar-center">

    <div class="collapse navbar-collapse" id="codebrainery-toggle-nav" style="margin-right:7% ; margin-top:40px">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/admin}">Dashboard</a></li>
                    <li><a href="javascript:{}" onclick="document.getElementById('form').submit();">Sign out</a></li>
                    <form id="form" th:action="@{/app-logout}" method="POST">
                    </form>
                </ul>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<div class="col-sm-4 col-md-4">
        <button type="button" class="btn">Add New Record Label</button>
        <br>
        <br>

        <form class="form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        </div>
        </form>

</div>


</body>
</html>