<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:overflow="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>


    </style>
</head>
<body>

<div th:insert="shared/dashboardHeader :: dashboardHeader"></div>

<br>
<br>
<br>
<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <button type="button" class="btn btn-primary" style="margin-left:auto; margin-right:auto; width:100%" onclick="redirect()">Add New Record Label</button>
        </div>
        <div class="col-sm-8 col-md-8">
        <form class="form" role="search">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        </form>
        </div>
</div>

    <div class="row" id="content-box" style="margin-top: 25px">

     <div id="tableContainer" class="table-responsive">
        <table st-table="rowCollection" class="table table-striped" style="border: 1px solid gray;">
            <thead class="fixedHeader">
            <tr style="display: block">
                <th style="width: 19%;">Record Label Name</th>
                <th style="width: 19%;">Record Label Email address</th>
                <th style="width: 19%;">Number of artists</th>
                <th style="width: 19%;">Delete Record Label</th>
            </tr>
            </thead>
            <tbody id="bodyScroll" style="height: 620px; overflow-y: auto; display: block">
            <tr th:each="recordLabel : ${recordLabels}">
                <form role="form" th:action="@{delete}" method="post" id="form">
                <td th:text="${recordLabel.name}" style="width: 15%;"></td>
                <td th:text="${recordLabel.email}" style="width: 15%;"></td>
                <td th:text="${recordLabel.number}" style="width: 15%;"></td>
                <input type="hidden" name="email" th:value=${recordLabel.email}>
                    <input type="hidden" name="name" th:value=${recordLabel.name}>
                    <td style="width: 15%;"><button type="submit">DELETE</button></td>
                </form>
            </tr>

            </tbody>

        </table>
         <input type="hidden" id="row_no" name="pageNumber" value="1">
    </div>
        </div>
</div>

<script>
 function myFunction(name,email) {
    if(confirm("Are you sure you want do delete " + name)) {

          $.get("/admin/delete", {
			email:email
		}, function(data) {
            redirectToDashboard();
		}).done(function() {
		}).fail(function(xhr, textStatus, errorThrown) {
		}).complete(function() {
            redirectToDashboard();
		});

    }
            }

</script>

<script th:inline="javascript">
               /*<![CDATA[*/
                var serverContext = [[@{/}]];
                function redirect() {

                window.location.href = serverContext + "admin/addNewRecordLabel";
                }

                 function redirectToDashboard() {
                console.log("AM I HERE");
                window.location.href = serverContext + "admin/dashboard";
                }


                $(document).ready(function () {



	        $('form').submit(function(event) {
	         var values = $(this).serialize();
	         rez=values.split("=")
                    if(!confirm("Are you sure you want to delete " + rez[rez.length-1] )) {
                            event.preventDefault();
                             return;
                    }

	        })



	        })
                /*]]>*/
   </script>



<script>
  jQuery(document).ready(

	function($) {
        var pixelsScrolled=240;
		$("#bodyScroll").scroll(function () {

            var scrolltop=$('#bodyScroll').scrollTop();
            console.log(scrolltop);
		    if(scrolltop==pixelsScrolled) {
		    pixelsScrolled+=430;
            var page=document.getElementById("row_no").value;
            console.log(page + " THIS IS THE ID");
			$.get("/admin/lazyLoad", {
			page:page
		}, function(data) {
			console.log(data);
			var html="";
            for(i=0 ; i<data.length ; i++) {
                html=html+'<tr><form role="form" action="delete" method="post" id="form1">';
                html=html+'<td style="width: 15%;">' + data[i].name + '</td>';
                html=html+'<td style="width: 15%;">' + data[i].email + '</td>';
                html=html+'<td style="width: 15%;">' + data[i].number + '</td>';
                html=html+'<input type="hidden" name="email" value=' + data[i].email + '>';
                html=html+'<input type="hidden" name="name" value=' + data[i].name +'>';
                html=html+'<td style="width: 15%;"><input type="submit" value="DELETE" id="' + data[i].name + '" name="' + data[i].email + '" onclick="myFunction(this.id,this.name)"></td>';
                html=html+'</form></tr>';
                }
                $("#bodyScroll").append(html);
                document.getElementById("row_no").value=Number(page)+1;
		}).done(function() {
		}).fail(function(xhr, textStatus, errorThrown) {
		}).complete(function() {


		});


                    }


		});




	});
</script>







</body>
</html>