<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>MBox</title>
    <style>
        .error {
        color:red;
        display: inline-block;
        margin-left: 28%
        }
        .star {
            float: right;
            margin-right: -3%;
            margin-top: -10%;
        }


    </style>
</head>
<body>
<header th:insert="shared/header.html :: header"> </header>

<div class="row" style="margin-top:200px">

    <div class="col-md-4">

    </div>
    <div class="col-md-4">


        <h2>Change Your Password</h2>
        <br>
        <br>

        <form id="passwordForm" role="form" action="#"
              th:object="${changePassword}" th:action="@{/changePassword}" method="post">

            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" id="oldPassword"
                       placeholder="Password" class="form-control" />
                <p class="star">*</p>
            </div>
            <p th:text="${oldPasswordErrorMessage}" class="error">
                Incorrect password
            </p>




            <div class="form-group">
                <label>New password</label>
                <input name="newPassword" type="password" id="password"
                       placeholder="new password" class="form-control" />
                <p class="star">*</p>
            </div>
            <p th:text="${errorMessage}" class="error">
                Password must be between 8 and 64 characters and be alphanumeric
            </p>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="confirmPassword" data-fv-notempty="true"/>
                <p class="star">*</p>

            </div>

            <p th:text="${errorConfirmMessage}" class="error">
                Passwords does not match
            </p>


            <button type="submit" class="btn btn-primary btn-block">Change password
            </button>

        </form>


    </div>

    <div class="col-md-4">

    </div>
</div>

</body>
</html>