<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropDown.css}">
</head>
<body>

<ul class="nav navbar-nav pull-right navCustomized">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
            <div class="img-rounded profile-img"></div>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu ">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">Sign out</a>
            </li>
        </ul>
    </li>
</ul>

</body>
</html>