<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot MVC Security</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-theme.css}">


    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.js}"></script>
</head>
<body>


<header th:insert="shared/header.html :: header"> </header>




<h1>HELOOO FROM HOMEE</h1>

</body>
</html>