<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot MVC Security</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<header th:insert="shared/header.html :: header"> </header>
<br>
<br>
<br>
<br>
<br>
<br>
<h3> Spring Boot MVC Security Custom login Page </h3>

<form th:action="@{/app-login}" method="POST">
    Email : <input type="email" name="app_username"/> <br/><br/>
    Password: <input type="password" name="app_password"/> <br/><br/>
    <input type="submit" value="Login"/>
</form>
<p th:if="${param.error}" class="error">
    Bad Credentials
</p>




</body>
</html>