<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot MVC Security</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .error {
        color:red;
        }

        .star {
            float: right;
            margin-right: -3%;
            margin-top: -10%;
        }
    </style>

</head>
<body>

<header th:insert="shared/header.html :: header"> </header>



<div class="row" style="margin-top:200px">

    <div class="col-md-4">

    </div>
    <div class="col-md-4">


        <section>
            <form th:action="@{/app-login}" method="POST">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="app_username" class="form-control"/>
                <p class="star">*</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="app_password" class="form-control"/>
                <p class="star">*</p>
            </div>

                <p th:if="${param.error}" class="error">
                    Incorrect email address or password
                </p>

            <div class="form-group text-right">
                <p>
                    <a th:href="@{/forgotPassword}">Forgot your password?</a>
                </p>
            </div>
            <div class="form-group">
                <input type="submit"  value="Log in" class="btn btn-primary btn-block">
            </div>

            </form>
        </section>
    </div>
    <div class="col-md-4">

    </div>
</div>




</body>
</html>