<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
            float: right;
            margin-top: 17%;
            margin-right: 16%;
            width: 139px;
        }

        h1 {
            margin: 10%;
            color: green;

        }
    </style>
</head>
<body>
<h1>A password reset mail has been sent, please follow the instructions provided to reset your password! </h1>

<input type="button" onclick="redirect()" value="Finish">




<script th:inline="javascript">
               /*<![CDATA[*/
                var serverContext = [[@{/}]];
                function redirect() {

                window.location.href = serverContext + "login";
                }
        </script>
</body>
</html>