<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MBox</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .error {
            color:red;
        }

        .star {
            float: right;
            margin-right: -3%;
            margin-top: -10%;
             }

    </style>
</head>
<body>


<div class="row" style="margin-top:200px">

    <div class="col-md-4">

    </div>
    <div class="col-md-4">


        <h2>Set Your Password</h2>
        <br>
        <br>

        <form id="passwordForm" role="form" action="#"
              th:object="${setPassword}" th:action="@{/resetPassword}" method="post">

            <input type="hidden" name="token" th:value=${confirmationToken}  >

            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" id="password"
                       placeholder="Password" class="form-control" />
                <p class="star">*</p>
            </div>
            <p th:text="${errorMessage}" class="error">
                Password must be between 8 and 64 characters and be alphanumeric
            </p>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"/>
                <p class="star">*</p>

            </div>

            <p th:text="${errorConfirmMessage}" class="error">
                Passwords does not match
            </p>


            <button type="submit" class="btn btn-primary btn-block">Change password
            </button>

        </form>


    </div>

    <div class="col-md-4">

    </div>
</div>


</body>
</html>