<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <title>MBox verify</title>
        <style>
        input {
            float: right;
            margin-top: 17%;
            margin-right: 16%;
            width: 139px;
        }

        h1 {
            margin: 10%;
            color: green;

        }
    </style>
</head>

<body>

        <h1>Your account has been verified! </h1>
        <h1>Please continue to the login form </h1>

        <input type="button" onclick="redirect()" value="Log in">


        <script th:inline="javascript">
               /*<![CDATA[*/
                var serverContext = [[@{/}]];
                function redirect() {

                window.location.href = serverContext + "login";
                }
        </script>
</body>
</html>