<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="dashboardHeader">
    <a class="navbar-brand">
        <img th:src="@{/images/mBoxLogo.jpg}" width="40" height="40"/>
    </a>
<div  class="navbar-center">

    <div class="collapse navbar-collapse" id="codebrainery-toggle-nav" style="margin-right:7% ; margin-top:40px">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                    <li><a href="javascript:{}" onclick="document.getElementById('form').submit();">Sign out</a></li>
                    <form id="form" th:action="@{/app-logout}" method="POST">
                    </form>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div sec:authorize="hasAuthority('RECORDLABEL')" class="navbar-center">

    <div class="collapse navbar-collapse" id="codebrainery-toggle-navv" style="margin-right:7% ; margin-top:40px">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin: 0; padding: 0">
                    <i class="fa fa-user-circle" style="font-size:35px; margin-top: 8px; margin-left: 8px"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/admin}">Dashboard</a></li>
                    <li><a th:href="@{/admin}">My account</a></li>
                    <li><a th:href="@{/admin}">Change password</a></li>
                    <li><a href="javascript:{}" onclick="document.getElementById('form1').submit();">Sign out</a></li>
                    <form id="form1" th:action="@{/app-logout}" method="POST">
                    </form>
                </ul>
            </li>
        </ul>
    </div>
</div>

</div>

</body>
</html>